@font-face {
  font-family: "NeutralFace";
  src: url("../fonts/NeutralFace.otf");
}

@font-face {
  font-family: "NeutralFaceBold";
  src: url("../fonts/NeutralFace-Bold.otf");
}

@font-face {
  font-family: "Reveaux";
  src: url("../fonts/Revaux.otf");
}
