
html,
body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  font-family: "Monument Extended";
  background: #121212;
  overflow: hidden;
}

.vers-title h1 {
  font-weight: 300;
  color: white;
}



.cursor {
  position: absolute;
  width: 600px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: scale(0.1);
  opacity: 0;
  margin: -100px 0 0 -100px;
  background: url(image-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  z-index: 1;
}

.wrapper {
  width: 80%;
  margin: 180px auto;
  height: 100%;
}

.vers {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 1;
  position: relative;
  z-index: 2;
  color: white;
  mix-blend-mode: difference;
}


.vers-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}  

/* 


.vers-item {
  display: block;
  user-select: none;
  margin: 50px 0;
}

a {
  font-family: "Cosi Azure";
  font-size: 30px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.3);
}

span {
  position: relative;
  display: block;
}

.vers-item span:before {
  width: 0;
  height: 90%;
  color: #ffffff;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 3s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.vers-item span:hover:before {
  width: 100%;
}*/