@import "scss/reset";
@import "scss/locomotive-scroll";
@import "scss/fonts";
@import "scss/_root-variables";
@import "scss/base";

body {
  padding: 0 32px;
  font-family: var(--fs-body);
}

.hero {
  background: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3vw;

  h1 {
    font-size: calc(54vw * 100 / 1440);
    margin-bottom: calc(12vw * 100 / 1440);
  }

  p {
    font-size: calc(24vw * 100 / 1440);
  }
}

a {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  &__name {
  }
  &__role {
  }
  &__contact {
    &-btn {
    }
  }
}

section {
  height: 100vh;
  background-color: lightgrey;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.description {
  background-color: white;
}

footer {
  height: 75vh;
  background-color: #222;
  overflow: hidden;
}

section.footer-container {
  //height: 75vh;
  color: #f0f0f0;
  background-color: #222;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-row {
  height: 33.3%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.footer-row.center {
  background-color: #262626;
  justify-content: space-around;
}

.logo {
  width: 400px;
  height: 80px;
  background-color: #f0f0f0;
  border-radius: 3px;
}

.items {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.item {
  width: 80px;
  height: 80px;
  background-color: #f0f0f0;
  border-radius: 3px;
}

.circles {
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.foot {
  height: 20px;
  width: 80vw;
  background-color: #f0f0f0;
  border-radius: 3px;
}

//header
.Header_header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
  //color: var(--light-grey);
  //mix-blend-mode: difference;
  height: 90px;
}
.SmoothArea {
  position: fixed;
  top: 0;
}

.Header_headerGrid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 25px;
  height: 90px;
  padding-top: 42px;
}

.Header_title {
  grid-column-start: 1;
  grid-column-end: 4;
}

.Header_currentRole {
  display: inline;
  display: initial;
  grid-column-start: 4;
  grid-column-end: 7;
}

.Header_location {
  display: inline;
  display: initial;
  grid-column-start: 7;
  grid-column-end: 10;
}

.Header_navArea {
  grid-column-start: 10;
  grid-column-end: 13;
}
