@import "scss/reset";
@import "scss/locomotive-scroll";
@import "scss/fonts";
@import "scss/_root-variables";
@import "scss/base";

body {
    font-family: var(--fs-body);
    background-color: var(--bg-color);
}
a {
    text-decoration: underline;
}

section {
    min-height: calc(100vh - var(--nav-height));
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 100px;
    color: #6d6458;
    background-color: var(--bg-color);
    z-index: 100;

    &__menu {
        display: flex;
    }

    &__menu-item {
        margin-left: 60px;
    }
}

.scroll-wrapper {
    //height: calc(100vh - var(--nav-height));
    &__content {
        background: antiquewhite;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        //border-radius: 3vw;
        margin-top: var(--nav-height);

        h1 {
            font-size: calc(54vw * 100 / 1440);
            margin-bottom: calc(12vw * 100 / 1440);
        }

        p {
            font-size: calc(24vw * 100 / 1440);
        }
    }
}

.footer {
    height: 20vh;
    background-color: #222;
    overflow: hidden;

    &__container {
        color: #f0f0f0;
        background-color: var(--bg-color);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.inverted-border-radius {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--nav-height);
    background-color: var(--bg-color);
    width: 100%;
}

.inverted-border-radius.rotate {
    background-color: var(--bg-color);
    top: auto;
    transform: rotate(180deg);
}

.inverted-border-radius::before {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -60px;
    height: 60px;
    width: 100%;
    border-top-left-radius: var(--body-radius);
    border-top-right-radius: var(--body-radius);
    box-shadow: 0 -40px 0 0 var(--bg-color);
}

.big-div {
    height: 200vh;
}
