@import "scss/reset";
@import "scss/locomotive-scroll";
@import "scss/fonts";
@import "scss/_root-variables";
@import "scss/base";
body {
    font-family: var(--fs-body);
}

.hero {
    margin-top: var(--nav-height);
    background: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 3vw;

    h1 {
        font-size: calc(54vw * 100 / 1440);
        margin-bottom: calc(12vw * 100 / 1440);
    }

    p {
        font-size: calc(24vw * 100 / 1440);
    }
}

a {
    text-decoration: underline;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--nav-height);
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 100px;
    color: #6d6458;
    background-color: chocolate;
    z-index: 100;
}

.site-menu {
    display: flex;
}

.menu-item {
    margin-left: 60px;
}

section {
    height: 100vh;
    background-color: lightgrey;

    border-radius: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.description {
    background-color: white;
}

footer {
    height: 20vh;
    background-color: #222;
    overflow: hidden;
}

section.footer-container {
    //height: 75vh;
    color: #f0f0f0;
    background-color: #222;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer-row {
    height: 33.3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer-row.center {
    background-color: #262626;
    justify-content: space-around;
}

.logo {
    width: 400px;
    height: 80px;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.items {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.item {
    width: 80px;
    height: 80px;
    background-color: #f0f0f0;
    border-radius: 3px;
}

.circles {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.foot {
    height: 20px;
    width: 80vw;
    background-color: #f0f0f0;
    border-radius: 3px;
}
